<% if @poll.id == 3 %>
  <div class="margin text-center">
    <a href="https://youtu.be/GN8tduRDhjc" target="_blank">
      <%= image_tag ("polls/jeroen_huizing.jpg"), alt: "Jeroen Huizing" %>
    </a>
    <p class="small margin-top"><%= t("polls.video.show_poll_3") %></p>
    <a href="https://youtu.be/GN8tduRDhjc" target="_blank" class="small">https://youtu.be/GN8tduRDhjc</a>
  </div>
<% end %>

<% if @poll.id == 4 %>
  <div class="margin text-center">
    <a href="https://youtu.be/14oluCSmEbE" target="_blank">
      <%= image_tag ("polls/rene_van_der_weide.jpg"), alt: "René van der Weide" %>
    </a>
    <p class="small margin-top"><%= t("polls.video.show_poll_4") %></p>
    <a href="https://youtu.be/14oluCSmEbE" target="_blank" class="small">https://youtu.be/14oluCSmEbE</a>
    </a>
  </div>
<% end %>

<% if @poll.id == 5 %>
  <div class="margin text-center">
    <a href="https://youtu.be/i29JgRCJfi0" target="_blank">
      <%= image_tag ("polls/nynke_houwing.jpg"), alt: "Nynke Houwing" %>
    </a>
    <p class="small margin-top"><%= t("polls.video.show_poll_5") %></p>
    <a href="https://youtu.be/i29JgRCJfi0" target="_blank" class="small">https://youtu.be/i29JgRCJfi0</a>
  </div>
<% end %>
