<footer>
  <div class="row">
    <div class="small-12 medium-5 column">
      <h1 class="footer-title"><%= t("layouts.footer.org_name") %></h1>

      <p class="info">
        <%= sanitize(content_block("footer", I18n.locale)) %>
      </p>
    </div>

    <div class="small-12 medium-5 column social">
      <h2 class="footer-title"><%= t("layouts.footer.contact_title") %></h2>

      <p>
        <span class="far fa-envelope float-left"></span>
        <span class="footer-email">
          <%= t("layouts.footer.contact_email_1_title") %>
          <%= link_to t("layouts.footer.contact_email_1"),
                      "mailto:gemeente@borger-odoorn.nl?Subject=T.a.v. Jan Ymker" %>
        </span>
      </p>

      <p>
        <span class="far fa-envelope float-left"></span>
        <span class="footer-email">
          <%= t("layouts.footer.contact_email_2_title") %>
          <%= link_to t("layouts.footer.contact_email_2"),
                      "mailto:info@coevorden.nl?Subject=T.a.v. Marc Pothof" %>
        </span>
      </p>

      <p>
        <span class="far fa-envelope float-left"></span>
        <span class="footer-email">
          <%= t("layouts.footer.contact_email_3_title") %>
          <%= link_to t("layouts.footer.contact_email_3"),
                      "mailto:gemeente@emmen.nl?Subject=T.a.v. Ulco de Vries" %>
        </span>
      </p>
    </div>
  </div>

  <div class="subfooter row">
    &copy; <%= t("layouts.footer.copyright", year: Time.current.year) %> - 1.1.0
    <ul class="no-bullet">
      <li><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
      <li><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
      <li><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %>&nbsp;|</li>
    </ul>
  </div>
</footer>
